# scope: json

snippet set:Jasonette-Actions-Cache
	"type": "\$cache.set",
	"options": {
		"variableName": "value1",
		"anotherVariableName": "value2"
	}
	//success

snippet get:Jasonette-Actions-Variable
	"{{\$cache.variableName}}"