# scope: json

snippet set:Jasonette-Actions-Variable
	"type": "\$set",
	"options": {
		"param1": "value1",
		"param2": "value2"
	}

snippet get:Jasonette-Actions-Variable
	"{{\$get.variableOrFieldName}}"