# scope: json

snippet csv:Jasonette-Actions-Coversion
	"type": "\$convert.csv",
	"options": {
		"data": "{{\$jason}}"
	},
	//success

snippet rss:Jasonette-Actions-Coversion
	"type": "\$convert.rss",
	"options": {
		"data": "{{\$jason}}"
	},
	//success