# scope: json

snippet label:Jasonette-Components
	{
		"type": "label",
		"text": "My label text",
		"style": { }
	}

snippet button:Jasonette-Components
	{
		"type": "button",
		"action": {
			"trigger": "\$reload"
		}
	}
