# scope: json

snippet envWidth:Jasonette-Environment
	{{\$env.device.width}}
	
snippet envHeight:Jasonette-Environment
	{{\$env.device.height}}


snippet envOsName:Jasonette-Environment
	{{\$env.device.os.name}}


snippet envOsVer:Jasonette-Environment
	{{\$env.device.os.version}}


snippet envLang:Jasonette-Environment
	{{\$env.device.language}}


snippet envUrl:Jasonette-Environment
	{{\$env.view.url}}