# scope: json

#Used to describe links between views
snippet if:Jasonette-Templates
	[
		{
			"{{#if \$jason.data.name=='Bart'}}": "Ay Caramba!"
		}, {
			"{{#elseif \$jason.data.name=='Homer'}}": "Donuts..."
		}
	]

snippet each:Jasonette-Templates
	"{{#each dataToIterate}}": {
		//label button image or any component
	}